ul.stream {
  margin: 0;
  padding: 0;
}

ul.stream li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: 1em 0;
}

ul.stream li:last-child {
  border-bottom: none;
}

ul.stream li a img.user {
  width: 60px;
  border-radius: 100px;
  float: left;
}

ul.stream li div.post {
  margin-left: 60px;
  padding: 0 0 0 1.2em;
  overflow-x: auto;
}

ul.stream li div.post h3 {
  font-size: 1em;
  margin: 0;
  margin-bottom: .2em;
}

ul.stream li div.post h3 small {
  margin-left: .3em;
  font-size: .8em;
}

ul.stream li div.post p {
  margin: 0;
}

ul.stream li div.post div.interaction {
  padding-top: .2em;
}

ul.stream li div.post div.interaction a {
  margin-right: .6em;
  font-size: .8em;
}

.stream-update {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  display: none;
}

.stream-update a {
  display: block;
  padding: .6em 0;
  background-color: #f5f8fa;
}

.stream-update a:hover {
  text-decoration: none;
  background-color: #e1e8ed;
}

.compose {
  display: none;
  border-bottom: 1px solid #eee;
  padding-left: 15px;
  padding-right: 15px;
}

.compose h2 {
  font-size: 1.4em;
}

.comments {
  margin-top: .6em;
  display: none;
}

.comments ol {
  margin: .8em 0 0;
  padding: .2em 0;
  background-color: #f4f4f4;
  border-radius: 3px;
  overflow-x: auto;
}

.comments ol li {
  list-style: none;
  padding: 0;
}

.comments ol li img.user-comment {
  width: 35px;
  border-radius: 4px;
  float: left;
  margin-left: 10px;
}

.comments ol li div {
  margin-left: 45px;
  padding: 0 .8em;
  font-size: .9em;
}

.comments ol li {
  padding: .6em .6em .6em 0;
  border-bottom: none;
}

.comments ol li h4 {
  margin: 0;
  margin-left: 45px;
  padding: 0 0 .2em .8em;
  font-size: .9em;
}

.comments ol li h4 small {
  margin-left: .3em;
}

.empty {
  margin: 0 .8em;
  font-size: .9em;
}

.load {
  text-align: center;
  padding-top: 1em;
  border-top: 1px solid #eeeeee;
  display: none;
  padding: 15px 0;
}

.loadcomment {
  text-align: center;
}

.remove-feed {
  color: #bbbbbb; 
  font-size: .8em; 
  padding-top: .2em;
  float: right;
  cursor: pointer;
}

.remove-feed:hover {
  color: #333333;
}

.panel-feed {
  margin-top: 20px;
}

.panel-feed .panel-body {
  padding: 0;
}

.feed-container {
  padding-left: 15px;
  padding-right: 15px;
}

.retweet-source {
    font-size: 0.8em;
    color: #006389;
}

.label_trends {
  margin-top: .4em;
  font-size: .8em;
  line-height: 2;
}

.comments_on_comment {
  margin-top: .6em;
  display: none;
}

.comments_on_comment ol {
  margin: .8em 0 0;
  padding: .2em 0;
  background-color: #f4f4f4;
  border-radius: 3px;
  overflow-x: auto;
}

.comments_on_comment ol li {
  list-style: none;
  padding: 0;
}

.comments_on_comment ol li img.user-comment {
  width: 35px;
  border-radius: 4px;
  float: left;
  margin-left: 10px;
}

.comments_on_comment ol li div {
  margin-left: 45px;
  padding: 0 .8em;
  font-size: .9em;
}

.comments_on_comment ol li {
  padding: .6em .6em .6em 0;
  border-bottom: none;
}

.comments_on_comment ol li h4 {
  margin: 0;
  margin-left: 45px;
  padding: 0 0 .2em .8em;
  font-size: .9em;
}

.comments_on_comment ol li h4 small {
  margin-left: .3em;
}

.remove-comment {
  color: #bbbbbb;
  font-size: .8em;
  padding-top: .2em;
  float: right;
  cursor: pointer;
}

.remove-comment:hover {
  color: #333333;
}