{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}

{% block head %}
    <script src="https://cdn.rawgit.com/jashkenas/underscore/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://podio.github.io/jquery-mentions-input/lib/jquery.events.input.js"></script>
    <script src="http://podio.github.io/jquery-mentions-input/lib/jquery.elastic.js"></script>
    <script src="http://podio.github.io/jquery-mentions-input/jquery.mentionsInput.js"></script>
    <link href="{% static 'css/feeds.css' %}?v=1" rel="stylesheet">
    {#    <link href="{% static 'css/jquery.mentionsInput.css' %}?v=1" rel="stylesheet">#}
    <link href="{% static 'css/jquery.mentionsInput.css' %}" rel="stylesheet">

    <link href="{% static 'css/articles.css' %}" rel="stylesheet">
    <script src="{% static 'js/articles.js' %}"></script>

{% endblock head %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
        <li class="active">{% trans 'Article' %}</li>
    </ol>
    {% if article.create_user == request.user %}
        <div>
            <a href="{% url 'edit_article' article.pk %}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Article" %}
            </a>
        </div>
    {% endif %}
    {% include 'articles/partial_article.html' with article=article %}
    {% include 'articles/partial_article_comments.html' with article=article %}
{% endblock main %}
