{% load i18n %}
<hr>
<span class="pull-right text-muted" id="comment-helper" style="display: none"><small>{% trans 'Press Ctrl + Enter to post' %}</small></span>
<h4><span class="comment-count">{{ article.get_comments.count }}</span> {% trans 'Comments' %}</h4>
<div class="post-comment clearfix">
  <form role="form" id="comment-form">
    {% csrf_token %}
    <input type="hidden" name="article" value="{{ article.pk }}">
    <div class="user-portrait clearfix">
      <img src="{{ user.profile.get_picture }}">
    </div>
    <div class="comment-input clearfix">
      <textarea class="form-control" rows="1" placeholder="{% trans 'Write a comment...' %}" name="comment" id="comment"></textarea>
    </div>
  </form>
</div>
<div class="well well-sm" id="comment-list">
  {% for comment in article.get_comments %}
    {% include 'articles/partial_article_comment.html' with comment=comment %}
  {% empty %}
    <div style="padding: .6em 0">{% trans 'Be the first one to comment!' %}</div>
  {% endfor %}
</div>

<script>
    $(function () {
        var textarea = $('textarea');
        textarea.css("height", "50px");
        textarea.mentionsInput({
            onDataRequest: function (mode, query, callback) {
                $.getJSON("{% url 'mention_autocomplete' %}?term=" + query.toLowerCase(), function (responseData) {
                    var data = _.filter(responseData, function (item) {
                        return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1
                    });
                    callback.call(this, data);
                });
            }
        });
        $("form").submit(function (event) {
            textarea.mentionsInput('val', function (text) {
                text = text.replace(/@\[(.*?)]\(.*?\)/g, "[$1](/$1)");
                textarea.val(text);
            });
        });
    });
</script>