{% load humanize %}

<div class="comment">
  <a href="{% url 'profile' comment.user.username %}"><img src="{{ comment.user.profile.get_picture }}" class="comment-portrait"></a>
  <div class="comment-text">
    <h5>
      <a href="{% url 'profile' comment.user.username %}">{{ comment.user.profile.get_screen_name }}</a>
      <small>{{ comment.date|naturaltime }}</small>
    </h5>
    <p>{{ comment.get_comment_as_markdown|safe }}</p>
  </div>
</div>