{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <script src="https://cdn.rawgit.com/jashkenas/underscore/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://podio.github.io/jquery-mentions-input/lib/jquery.events.input.js"></script>
    <script src="http://podio.github.io/jquery-mentions-input/lib/jquery.elastic.js"></script>
    <script src="http://podio.github.io/jquery-mentions-input/jquery.mentionsInput.js"></script>
    <script src="{% static 'js/articles.js' %}"></script>
    <link href="{% static 'css/jquery.mentionsInput.css' %}" rel="stylesheet">

{% endblock head %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
        <li class="active">{% trans 'Write Article' %}</li>
    </ol>
    <form action="{% url 'write' %}" method="post" role="form">
        {% csrf_token %}
        {{ form.status }}
        {% for field in form.visible_fields %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
                {% if field.label == 'Content' %}
                    {% include 'markdown_editor.html' with textarea='id_content' %}
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                    <span class="help-block">{{ field.help_text }}</span>
                {% endif %}
                {% for error in field.errors %}
                    <label class="control-label">{{ error }}</label>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="form-group">
            <button type="button" class="btn btn-primary publish">{% trans 'Publish' %}</button>
            <button type="button" class="btn btn-default draft">{% trans 'Save Draft' %}</button>
            <button type="button" class="btn btn-default preview" data-toggle="modal"
                    data-target="#preview">{% trans 'Preview' %}</button>
            <a href="{% url 'articles' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </div>
    </form>

    <div class="modal fade" id="preview">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Article Preview</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            var textarea = $('textarea');
            textarea.css("height", "300px");
            textarea.mentionsInput({
                onDataRequest: function (mode, query, callback) {
                    $.getJSON("{% url 'mention_autocomplete' %}?term=" + query.toLowerCase(), function (responseData) {
                        var data = _.filter(responseData, function (item) {
                            return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1
                        });
                        callback.call(this, data);
                    });
                }
            });
            $("form").submit(function (event) {
                textarea.mentionsInput('val', function (text) {
                    text = text.replace(/@\[(.*?)]\(.*?\)/g, "[$1](/$1)");
                    textarea.val(text);
                });
            });
        });


    </script>
{% endblock main %}


