{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <script src="https://cdn.rawgit.com/jashkenas/underscore/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://podio.github.io/jquery-mentions-input/lib/jquery.events.input.js"></script>
    <script src="http://podio.github.io/jquery-mentions-input/lib/jquery.elastic.js"></script>
    <script src="http://podio.github.io/jquery-mentions-input/jquery.mentionsInput.js"></script>
    <link href="{% static 'css/feeds.css' %}?v=1" rel="stylesheet">
    {#    <link href="{% static 'css/jquery.mentionsInput.css' %}?v=1" rel="stylesheet">#}
    <link href="{% static 'css/jquery.mentionsInput.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
    <script src="{% static 'js/feeds.js' %}?v=1"></script>
{% endblock head %}

{% block main %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="page-header">
                <button type="button" class="btn btn-primary pull-right btn-compose"
                        title="{% trans 'Press Ctrl + P to compose' %}">
                    <span class="glyphicon glyphicon-share-alt"></span> {% trans 'Compose' %}
                </button>
                <h1>{% trans 'Feed' %}</h1>
            </div>
            <div class="panel panel-default panel-feed">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Latest posts' %}</h3>
                </div>
                <div class="panel-body">

                    <div class="compose">
                        <h2>{% trans "Compose a new post:" %}</h2>
                        <form role="form" id="compose-form">
                            {% csrf_token %}
                            <input type="hidden" name="last_feed">
                            <input type="hidden" name="post">
                            <div class="form-group">
                                Content: <textarea id="post_content" class="form-control mentionable"
                                                   style="height: 80px;"
                                                   autofocus></textarea>
                            </div>
                            <div class="form-group">
                                Tags: <textarea class="form-control" rows="1" name="tags"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-post">
                                    <span class="glyphicon glyphicon-send"></span> {% trans 'Post' %}
                                </button>
                                <button type="button"
                                        class="btn btn-default btn-cancel-compose">{% trans 'Cancel' %}</button>
                                <span class="help-block help-count pull-right">255</span>
                            </div>
                        </form>


                    </div>
                    <div class="stream-update">
                        <a href="#"><span class="new-posts"></span> {% trans 'new posts' %}</a>
                    </div>
                    <ul class="stream">
                        {% for feed in feeds %}
                            {% include 'feeds/partial_feed.html' with feed=feed %}
                        {% endfor %}
                    </ul>
                    <div class="load">
                        <img src="{% static 'img/loading.gif' %}">
                    </div>
                    <form method="get" action="{% url 'load' %}" id="load_feed" autocomplete="off">
                        <input type="hidden" name="feed_source" id="feed_source" value="all">
                        <input type="hidden" name="from_feed" value="{{ from_feed }}">
                        <input type="hidden" name="page" value="{{ page }}">
                    </form>

                </div>
            </div>
        </div>

        {% if trends %}
            <div class="col-md-3 text-center popular-tags">
                <h4>{% trans 'Trends' %}</h4>
                {% for tag, count in trends %}
                    {#        <a href="{% url 'tag' tag %}">#}
                    <span class="label label-default">{{ count }}&nbsp&nbsp&nbsp{{ tag }}</span>
                    {#        </a>#}
                {% endfor %}
            </div>
        {% endif %}
    </div>


{% endblock main %}

<!-- JQuery code for Ajax autocomplete search suggestion -->
<script type="text/javascript">


    $(function () {
        var $mentionable = $('.mentionable');
        if (typeof  $mentionable !== "undefined")
            $mentionable.mentionsInput({
                onDataRequest: function (mode, query, callback) {
                    $.getJSON("{% url 'mention_autocomplete' %}?term=" + query.toLowerCase(), function (responseData) {
                        var data = _.filter(responseData, function (item) {
                            return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1
                        });
                        callback.call(this, data);
                    });
                }
            });
    });
</script>