{% load humanize %}
{% load i18n %}

{% for comment in feed.get_comments %}
    <li class="comment-stream" comment-id="{{ comment.pk }}" csrf="{{ csrf_token }}">
        {% if comment.user == user %}
            <span class="glyphicon glyphicon-remove remove-comment"
                  title="{% trans 'Click to remove this comment' %}"></span>
        {% endif %}
        <a href="{% url 'profile' comment.user.username %}">
            <img src="{{ comment.user.profile.get_picture }}" class="user-comment">
        </a>
        <h4>
            <a href="{% url 'profile' comment.user.username %}">
                {{ comment.user.profile.get_screen_name }}
            </a>
            <small>{{ comment.date|naturaltime }}</small>
        </h4>
        <div>{{ comment.linkfy_post_with_mention|safe }}</div>
        {#    {{ comment }}#}


        <div class="interaction">
            <a class="comment_on_comment" href="#" style="text-decoration: none;">
                <span class="glyphicon glyphicon-comment"></span> {% trans 'Comment' %}
                {#          (<span class="comment-on-comment-count">{{ comment.get_num_of_comments }}</span>)#}
            </a>
        </div>

        <div class="comments_on_comment">
            <form role="form" method="post" action="{{ comment_on_comment }}" onsubmit="return false">
                {% csrf_token %}
                <input type="hidden" name="comment" value="{{ comment.pk }}">
                <textarea type="text" class="form-control input-sm reply mentionable"
                       placeholder="{% trans 'Write a comment on comment ...' %}"
                          name="reply" maxlength="255"  id="reply" style="height: 30px;"></textarea>
            </form>
            <ol class="clearfix">
                {% comment %} Place holder to load comment comments {% endcomment %}
            </ol>
        </div>


    </li>
{% empty %}
    <li class="empty">{% trans 'Be the first one to comment' %}</li>
{% endfor %}
<script>
    $(function () {
        $('.mentionable').mentionsInput({
            onDataRequest: function (mode, query, callback) {
                $.getJSON("{% url 'mention_autocomplete' %}?term=" + query.toLowerCase(), function (responseData) {
                    var data = _.filter(responseData, function (item) {
                        return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1
                    });
                    callback.call(this, data);
                });
            }
        });
    });
</script>