{% load i18n %}
{% load humanize %}
<li feed-id="{{ feed.pk }}" csrf="{{ csrf_token }}" xmlns="http://www.w3.org/1999/html">
    <div class="feed-container">
        <a href="{% url 'profile' feed.user.username %}"><img src="{{ feed.user.profile.get_picture }}"
                                                              class="user"></a>
        <div class="post">
            {% if feed.user == user %}
                <span class="glyphicon glyphicon-remove remove-feed"
                      title="{% trans 'Click to remove this feed' %}"></span>
            {% endif %}
            <h3>
                <a href="{% url 'profile' feed.user.username %}">{{ feed.user.profile.get_screen_name }}</a>
                {% if feed.user.profile.celeb_tick %}
                    <span class="glyphicon glyphicon-check"></span>
                {% endif %}

                {#<small>{{ feed.date}}</small>#}
                <small>{{ feed.date|naturaltime }}</small>
                {% if feed.is_pinned %}
                    <span class="glyphicon glyphicon-pushpin"></span> pinned
                {% endif %}
            </h3>
            {% if feed.is_retweeted %}
                <small class="retweet-source">Retweeted from:
                    <a href="{% url 'profile' feed.base.user.username %}">{{ feed.base.user.profile.get_screen_name }}</a>
                </small>
            {% endif %}

            <p>{{ feed.linkfy_post_with_mention|safe }}</p>
            {% with tags=feed.get_tags %}
                {% if tags %}
                    {% for tag in tags %}
                        <span class="label label-default">{{ tag }}</span>
                    {% endfor %}
                    <br>
                {% endif %}
            {% endwith %}
            <div class="interaction">
                {% if user in feed.get_likers %}
                    <a href="#" style="text-decoration: none;" class="like unlike">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="text">{% trans 'Unlike' %}</span>
                        (<span class="like-count">{{ feed.get_num_of_likes }} </span>)
                    </a>
                {% else %}
                    <a href="#" style="text-decoration: none;" class="like">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="text">{% trans 'Like' %}</span>
                        (<span class="like-count">{{ feed.get_num_of_likes }}</span>)
                    </a>
                {% endif %}
                {% if user in feed.get_reporters %}
                    <a href="#" style="text-decoration: none;" class="report reported">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        <span class="text">{% trans 'Reported' %}</span>
                    </a>
                {% else %}
                    <a href="#" style="text-decoration: none;" class="report">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        <span class="text">{% trans 'Report As Spam' %}</span>
                    </a>

                {% endif %}
                <a href="#" style="text-decoration: none;" class="comment">
                    <span class="glyphicon glyphicon-comment"></span> {% trans 'Comment' %}
                    (<span class="comment-count">{{ feed.get_num_of_comments }}</span>)
                </a>
                <a href="#" style="text-decoration: none;" class="retweet">
                    <span class="glyphicon glyphicon-retweet"></span> {% trans 'Retweet' %}
                    (<span class="retweet-count">{{ feed.get_num_of_retweets }}</span>)
                </a>
                {% if feed.user == user %}
                    <a href="#" style="text-decoration: none;" class="pin">
                        {% if not feed.is_pinned %}
                            <span class="glyphicon glyphicon-pushpin"></span> {% trans 'Pin' %}
                        {% else %}
                            <span class="glyphicon glyphicon-remove-circle"></span> {% trans 'Remove Pin' %}
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            <div class="comments">
                <form role="form" method="post" action="{{ comment }}" onsubmit="return false">
                    {% csrf_token %}
                    <input type="hidden" name="feed" value="{{ feed.pk }}">
                    <textarea type="text" class="form-control input-sm mentionable"
                              placeholder="{% trans 'Write a comment...' %}" name="post" maxlength="255"
                              style="height: 40px;"></textarea>
                </form>
                <ol class="clearfix">
                    {% comment %} Place holder to load feed comments {% endcomment %}
                </ol>
            </div>
        </div>
    </div>
</li>
<!-- JQuery code for Ajax autocomplete search suggestion -->
<script type="text/javascript">
    $(function () {
        var $postContent = $('#post_content');
        if (typeof $postContent !== "undefined")
            try {
                $postContent.mentionsInput({
                    onDataRequest: function (mode, query, callback) {
                        $.getJSON("{% url 'mention_autocomplete' %}?term=" + query.toLowerCase(), function (responseData) {
                            var data = _.filter(responseData, function (item) {
                                return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1
                            });
                            callback.call(this, data);
                        });
                    }
                });
            } catch (e) {
            }

    });
</script>