{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Network' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/network.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>Network</h1>
  </div>
  <div class="users">
    <div class="row">
      {% for page_user in users %}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <img src="{{ page_user.profile.get_picture }}" style="width:20px">
              <a href="{% url 'profile' page_user.username %}">{{ page_user.profile.get_screen_name }}</a>
              {% if page_user.profile.celeb_tick %}
                <span class="glyphicon glyphicon-check"></span>
              {% endif %}
            </div>

            <div class="panel-body">
            <p><strong>{% trans 'Username' %}: </strong> {{ page_user.username }}</p>
             {% if user == page_user or user.profile in page_user.profile.get_followers or not page_user.profile.private%}
              {% if page_user.profile.job_title %}
                <p><strong>{% trans 'Job Title' %}:</strong> {{ page_user.profile.job_title }}</p>
              {% endif %}

              {% if page_user.profile.location %}
                <p><strong>{% trans 'Location' %}:</strong> {{ page_user.profile.location }}</p>
              {% endif %}
              {% if page_user.profile.url %}
                <p><strong>{% trans 'Url' %}:</strong> {{ page_user.profile.get_url }}</p>
              {% endif %}
              {% if page_user.profile.birthday %}
                <p><strong>{% trans 'Birthday' %}:</strong> {{ page_user.profile.birthday }}</p>
              {% endif %}
          {% endif %}
            </div>

          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-md-12">
        {% include 'paginator.html' with paginator=users %}
      </div>
    </div>

  </div>
{% endblock main %}
