{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ page_user.profile.get_screen_name }}{% endblock %}

{% block head %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
  <link href="{% static 'css/top_tiles.css' %}" rel="stylesheet">
  <script src="{% static 'js/feeds.js' %}"></script>
  <script src="{% static 'js/profile.js' %}"></script>
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
{% endblock head %}
{% block extrahead %}

{% endblock extrahead %}
{% block main %}
  <div class="page-header">
    <h1>
      {{ page_user.profile.get_screen_name }} {% if page_user.get_full_name %}<small>({{ page_user.username }})</small>{% endif %}
      {% if page_user.profile.celeb_tick %}
        <span class="glyphicon glyphicon-check"></span>
      {% endif %}
    </h1>
  </div>
  <div class="profile" user-id="{{ page_user.profile.pk }}" csrf="{{ csrf_token }}">
    <div class="row tile_count">
      <!-- Data tiles -->
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-envelope"></i> {% trans 'Feeds' %}</span>
        <div class="count">{{ feeds_count }}</div>
      </div>
{#      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">#}
{#        <span class="count_top"><i class="glyphicon glyphicon-heart"></i> {% trans 'Likes' %}</span>#}
{#        <div class="count">{{ likes_count }}</div>#}
{#      </div>#}
{#      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">#}
{#        <span class="count_top"><i class="glyphicon glyphicon-pencil"></i> {% trans 'Articles' %}</span>#}
{#        <div class="count">{{ article_count }}</div>#}
{#      </div>#}
{#      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">#}
{#        <span class="count_top"><i class="glyphicon glyphicon-comment"></i> {% trans 'Comments' %}</span>#}
{#        <div class="count">{{ article_comment_count }}</div>#}
{#      </div>#}
{#      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">#}
{#        <span class="count_top"><i class="glyphicon glyphicon-question-sign"></i> {% trans 'Questions' %}</span>#}
{#        <div class="count">{{ question_count }}</div>#}
{#      </div>#}
{#      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">#}
{#        <span class="count_top"><i class="glyphicon glyphicon-education"></i> {% trans 'Answers' %}</span>#}
{#        <div class="count">{{ answer_count }}</div>#}
{#      </div>#}
{#      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">#}
{#        <span class="count_top"><i class="glyphicon glyphicon-fire"></i> {% trans 'Global Interactions' %}</span>#}
{#        <div class="count">{{ global_interactions }}</div>#}
{#      </div>#}
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-user"></i> {% trans 'Followings' %}</span>
        <div class="count">{{ followings_count }}</div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-eye-open"></i> {% trans 'Followers' %}</span>
        <div class="count">{{ followers_count }}</div>
      </div>
      <!-- /data tiles -->
    </div>
    <div class="row">
      <!--Profile tile-->
      <div class="col-md-3 user-profile text-center">
        <img src="{{ page_user.profile.get_picture }}" class="picture">
         <ul>
        {% if user == page_user or user.profile in page_user.profile.get_followers or not page_user.profile.private%}


          {% if page_user.profile.job_title %}
            <li><span class="glyphicon glyphicon-briefcase"></span> {{ page_user.profile.job_title }}</li>
          {% endif %}
          {% if page_user.profile.location %}
            <li><span class="glyphicon glyphicon-map-marker"></span> {{ page_user.profile.location }}</li>
          {% endif %}
          {% if page_user.profile.url %}
            <li><span class="glyphicon glyphicon-globe"></span> <a href="{{ page_user.profile.get_url }}" target="_blank">{{ page_user.profile.get_url }}</a></li>
          {% endif %}
          {% if page_user.profile.birthday %}
            <li><span class="glyphicon glyphicon-gift"></span> {{ page_user.profile.birthday}} </li>
          {% elif page_user == user %}
            <li><span class="glyphicon glyphicon-pencil"></span> <a href="/settings" target="_blank">Add Your Birthday</a></li>
          {% endif %}
        {% endif %}
          {% if user.profile != page_user.profile %}
            {% if user.profile in page_user.profile.get_followers %}
              <a href="#" style="text-decoration: none;" class="request unfollow">
                <span class="glyphicon glyphicon-minus"></span>
                <span class="text">{% trans 'Unfollow' %}</span>
              </a>
            {% elif user.profile in page_user.profile.get_follow_requests %}
                <a href="#" style="text-decoration: none;" class="request pending">
                <span class="glyphicon glyphicon-adjust"></span>
                <span class="text">{% trans 'Pending' %}</span>
              </a>
            {% else %}
              <a href="#" style="text-decoration: none;" class="request follow">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="text">{% trans 'Follow' %}</span>
              </a>
            {% endif %}
          {% endif %}

        </ul>

      </div>
      <!--Profile tile-->
      <!--Bar graphic chart-->
      <div class="col-md-9">
      {% if user == page_user or user.profile in page_user.profile.get_followers or not page_user.profile.private%}


        <ul class="nav nav-pills">
          <li class="active"><a  href="#1b" data-toggle="tab">{% trans 'Last Feeds' %}</a></li>
{#          <li><a href="#2b" data-toggle="tab">Activity by type</a></li>#}
{#          <li><a href="#3b" data-toggle="tab">Activity by day</a></li>#}
{#          <li><a href="#4b" data-toggle="tab">Activity by Total</a></li>#}
          <li><a href="#5b" data-toggle="tab">Likes</a></li>
          <li><a href="#6b" data-toggle="tab">Followings</a></li>
          <li><a href="#7b" data-toggle="tab">Followers</a></li>
        {% if user == page_user %}
          <li><a href="#8b" data-toggle="tab">Follow Requests</a></li>
        {% endif %}

        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="1b">
            <ul class="stream">
              {% for feed in feeds %}
                {% include 'feeds/partial_feed.html' with feed=feed %}
              {% endfor %}
            </ul>
          </div>
{#          <div class="tab-pane" id="2b">#}
{#            <!--Bar graphic chart-->#}
{#            <canvas id="bar_chart" width="400" height="160"></canvas>#}
{#            <div class="load"><img src="{% static 'img/loading.gif' %}"></div>#}
{#            <!--Bar graphic chart-->#}
{#          </div>#}
{#          <div class="tab-pane" id="3b">#}
{#            <!--Line graph-->#}
{#            <canvas id="line_chart" width="400" height="160"></canvas>#}
{#            <div class="load"><img src="{% static 'img/loading.gif' %}"></div>#}
{#            <!--Line graph-->#}
{#          </div>#}
{#          <div class="tab-pane" id="4b">#}
{#            <!--Doughnut graph-->#}
{#            <canvas id="doughnut_chart" width="400" height="160"></canvas>#}
{#            <div class="load"><img src="{% static 'img/loading.gif' %}"></div>#}
{#            <!--Doughnut graph-->#}
{#          </div>#}
          <div class="tab-pane " id="5b">
            <ul class="stream">
              {% for like in likes %}
                {% if like.get_feed %}
                  {% include 'feeds/partial_feed.html' with feed=like.get_feed %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>


          <div class="tab-pane " id="6b">
            <ul class="stream">
              <p> </p>
              <hr>

              {% for following in followings %}
                <a href="/{{ following.user.username }}">
                  {{ following.user.username }}

                  <hr>
                </a>
              {% endfor %}
            </ul>
          </div>

          <div class="tab-pane " id="7b">
            <ul class="stream">
              <p> </p>
              <hr>

              {% for follower in followers %}
                <a href="/{{ follower.user.username }}">
                  {{ follower.user.username }}

                  <hr>
                </a>
              {% endfor %}
            </ul>
          </div>

        {% if user == page_user %}
        <div class="tab-pane " id="8b">
            <ul class="stream col-lg-offset-4">
              {% for follow_request in follow_requests %}
                  <div class="follow_request_item" sender-id="{{ follow_request.user.pk }}" csrf="{{ csrf_token }}">
                  <hr>
                  <a href="/{{ follow_request.user.username }}"> {{ follow_request.user.username }}</a> {% trans 'is requested to follow you:   ' %}
                  <a href="#" style="text-decoration: none;" class="accept"> <span class="glyphicon glyphicon-ok-circle"> </span> {% trans 'Accept' %}</a>
                  <a href="#" style="text-decoration: none;" class="reject"> <span class="glyphicon glyphicon-remove-circle"></span> {% trans 'Reject' %}</a>
                  <hr>
                  </div>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        </div>


      {% else %}
        <h1 class="text-center">This Account is Private</h1>
      {% endif %}


      </div>
    </div>
    <script type="text/javascript">
        var bar_labels = JSON.parse({{ bar_labels|safe }});
        var bar_data = {{ bar_data }};
        var line_data = {{ line_data|safe }};
        var line_labels = {{ line_labels|safe }};
    </script>
    <script src="{% static 'js/graph_data.js' %}"></script>
  </div>
{% endblock main %}
